# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"
NEXTAUTH_SECRET="YOUR_SECRET"

GITHUB_CLIENT_ID="oauth_id"
GITHUB_CLIENT_SECRET="OAUTH_SECRET"

ADMIN_EMAIL_1="some admin email"
ADMIN_EMAIL_2="some admin email"
ADMIN_EMAIL_3="some admin email"
ADMIN_EMAIL_4="some admin email"
ADMIN_EMAIL_5="some admin email"
# add all admin emails in this format only -> ADMIN_EMAIL_n="some admin email"
ADMIN_EMAIL_n="some admin email"

TOTAL_ADMIN_EMAILS=6 # total number of admin emails (numerical format)

KV_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=


NEXT_APP_CACHE_VALIDATOR_SERVER_URL=

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
