@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Wallpoet&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap'); */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-color: #a3d7ff;
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar{
  width: 8px;
  border-radius: 50px;
  background-color: grey;
}

::-webkit-scrollbar-thumb{
  width: 9px;
  border-radius: 50px;
  background-color: #0078D4;
}

::-webkit-scrollbar-button{
  opacity: 0;
}
